#### 1.Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive ?
**Examples:**  
`evenly_divisible(1, 10, 20) ➞ 0
    # No number between 1 and 10 can be evenly divided by 20.
evenly_divisible(1, 10, 2) ➞ 30
    # 2 + 4 + 6 + 8 + 10 = 30
evenly_divisible(1, 10, 3) ➞ 18
    # 3 + 6 + 9 = 18`

In [12]:
def evenly_divisible(a,b,c):
    divlist=[]
    for i in range(a,b+1):
        if i%c==0:
            divlist.append(i) 
    print(a,b,c,'=',sum(divlist))
evenly_divisible(1, 10, 20)
evenly_divisible(1, 10, 2)
evenly_divisible(1, 10, 3)

1 10 20 = 0
1 10 2 = 30
1 10 3 = 18

#### 2.Create a function that returns True if a given inequality expression is correct and False otherwise ?
**Examples:**  
`correct_signs("3 < 7 < 11") ➞ True`  
`correct_signs("13 > 44 > 33 > 1") ➞ False`  
`correct_signs("1 < 2 < 6 < 9 > 3") ➞ True`

In [26]:
def correct_signs(expr):
    return f'{expr} = {eval(expr)}'

print(correct_signs("3 < 7 < 11"))
print(correct_signs("13 > 44 > 33 > 1"))
print(correct_signs("1 < 2 < 6 < 9 > 3"))

3 < 7 < 11 = True
13 > 44 > 33 > 1 = False
1 < 2 < 6 < 9 > 3 = True

#### 3.Create a function that replaces all the vowels in a string with a specified character ?
**Examples:**  
`replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"`  
`replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"`  
`replace_vowels("shakespeare", "*") ➞ "shksp**r"`

In [32]:
def replace_vowels(word, char):
    vowels = "aeiouAEIOU"
    new_word = ""
    for letter in word:
        if letter in vowels:
            new_word += char
        else:
            new_word += letter
    return f"({word} ,{char}) = {new_word}"
print(replace_vowels("the aardvark", "#"))
print(replace_vowels("minnie mouse", "?"))
print(replace_vowels("shakespeare", "*"))

(the aardvark ,#) = th# ##rdv#rk
(minnie mouse ,?) = m?nn?? m??s?
(shakespeare ,*) = sh*k*sp**r*

#### 4.Write a function that calculates the factorial of a number recursively ?
**Examples:**  
`factorial(5) ➞ 120`  
`factorial(3) ➞ 6`  
`factorial(1) ➞ 1`  
`factorial(0) ➞ 1`

In [40]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return  n * factorial(n-1)
print(factorial(5)) # Output: 120
print(factorial(3)) # Output: 6
print(factorial(1)) # Output: 1
print(factorial(0)) # Output: 1

120
6
1
1

#